// app global css in SCSS form
@import './markdown.scss';

html {
	overflow-y: scroll;
}

body {
	font-family:
		-apple-system, BlinkMacSystemFont, 'system-ui', 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.app-content-main,
.app-max-width-1680 {
	max-width: 1680px;
}

.app-rank-table {
	min-width: 600px;
	max-width: 1680px;
	width: 100%;

	thead tr:first-child th:nth-child(2) {
		/* bg color is important for th; just specify one */
		background-color: white;
	}

	td:nth-child(2) {
		background-color: white;
	}

	th:nth-child(2),
	td:nth-child(2) {
		position: sticky;
		left: 0;
		z-index: 10;
	}

	th,
	td {
		font-size: 1rem !important;
	}
}

.fixed-layout-table {
	table {
		table-layout: fixed;
	}
}

.card-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-image: linear-gradient(45deg, $indigo-10, $primary);
}

main.q-page:has(> .app-page-banner) {
	padding-top: $app-page-banner-height;
}

.app-page-banner {
	height: $app-page-banner-height;
	background:
		linear-gradient(
			to bottom,
			rgba($indigo-10, 0.6) 0%,
			rgba($indigo-10, 0.65) 25%,
			rgba($indigo-10, 0.7) 50%,
			rgba($indigo-10, 0.75) 75%,
			rgba($indigo-10, 0.8) 100%
		),
		url('/image/29085492_1944-no.jpg') center/cover;
}

.app-toc {
	position: sticky;
	top: 60px;
}
