$primary: #1976d2;
// $secondary: #26a69a;
$secondary: #599cdf;
$accent: #9c27b0;

$dark: #121212;
$dark-page: #1e1e1e;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// 科技感渐变
$gradient-primary: linear-gradient(90deg, $primary, #ffffff);
$gradient-accent: linear-gradient(90deg, $accent, #ff0080);

// 字体
// $typography-font-family : 'Inter', '-apple-system', 'Helvetica Neue', sans-serif;

// // 卡片
// $generic-border-radius  : 12px;
// $shadow-1: 0 4px 20px rgba(0, 0, 0, 0.25);

$primary-1: #599cdf;
